<div routerLink="/detail/{{ item.id }}" class="small-card">
  <img [src]="getCoverImage" [alt]="item.title.romaji" loading="lazy" />

  <div class="info py-2">
    <h6>{{ item.title.romaji }}</h6>
  </div>

  <div class="more-info">
    <h5>
      {{ item.title.native }}<br />
      <small>{{ item.seasonYear }} - {{ item.season }}</small>
    </h5>

    <div *ngIf="item.episodes > 1">Episodes: {{ item.episodes }}</div>
    <div class="badge-container">
      <span *ngFor="let genre of item.genres" class="badge">{{ genre }}</span>
    </div>
  </div>
</div>
