<div class="characters-container">
  <ui-alert *ngIf="!loading && characters.length === 0" type="dark">
    No se encontraron resultados
  </ui-alert>

  <ui-short-item
    *ngFor="let character of characters; index as index"
    (elementClick)="onClick($event)"
    [id]="index"
    [leftImage]="getCharacterImage(character.node)"
    [leftTitle]="character.node.name.full"
    [leftSecondary]="character.role"
    [rightImage]="getVoiceActorImage(character)"
    [rightTitle]="getVoiceActorName(character)"
  ></ui-short-item>
</div>
