<div *ngIf="staff$ | async as staff">
  <div class="detail-container px-2 px-sm-3">
    <div class="image-and-action">
      <img [src]="staff.image.large" alt="" />
      <div class="actions mt-2">
        <div class="btn btn-primary w-100">Añadir</div>
        <div class="btn btn-danger">C</div>
      </div>
    </div>

    <div class="main-info-container py-2 pt-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ staff.name.full }} ({{ staff.name.native }})
          </h5>
          <div [innerHtml]="staff.description"></div>
        </div>
      </div>

      <!--Router-->
      <ul class="nav nav-tabs mt-2">
        <li *ngFor="let route of getRoutes()" class="nav-item">
          <a
            [routerLink]="route.path"
            routerLinkActive="active"
            class="nav-link"
            >{{ route.data?.name }}</a
          >
        </li>
      </ul>
      <div class="mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
