.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: 350px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
