<div class="card d-flex flex-row">
  <div
    *ngIf="true"
    class="left-side d-flex flex-grow-1 flex-shrink-1"
    (click)="onClick('left')"
    style="cursor: pointer"
  >
    <img *ngIf="leftImage" [src]="leftImage" loading="lazy" />
    <div class="d-flex flex-column px-1 py-2">
      <p class="small">{{ leftTitle }}</p>
      <p class="small mt-auto">{{ leftSecondary }}</p>
    </div>
  </div>
  <div
    *ngIf="true"
    class="right-side d-flex justify-content-end text-right flex-grow-1 flex-shrink-1"
    (click)="onClick('right')"
    style="cursor: pointer"
  >
    <div class="d-flex flex-column px-1 py-2">
      <p class="small">{{ rightTitle }}</p>
      <p class="small mt-auto">{{ rightSecondary }}</p>
    </div>
    <img *ngIf="rightImage" [src]="rightImage" loading="lazy" />
  </div>
</div>
