p {
  margin: 0;
  white-space: pre-wrap;
  overflow: hidden;
}

img {
  height: 100px;
  min-height: 100px;
  min-width: 75px;
  object-fit: cover;
  width: 75px;
}

.card {
  display: flex;
  flex-direction: row;
  height: 100px;
  overflow-y: hidden;

  .side {
    display: flex;
    flex: 1;

    &.right-side {
      justify-content: flex-end;
      text-align: right;
    }
  }
}
