<div class="card">
  <div
    *ngIf="true"
    class="side left-side"
    (click)="onClick('left')"
    style="cursor: pointer"
  >
    <img *ngIf="leftImage" [src]="leftImage" loading="lazy" />
    <div class="pl-2 py-2">
      <p class="small">{{ leftTitle }}</p>
      <p class="small mt-auto">{{ leftSecondary }}</p>
    </div>
  </div>
  <div
    *ngIf="true"
    class="side right-side"
    (click)="onClick('right')"
    style="cursor: pointer"
  >
    <div class="pr-2 py-2">
      <p class="small">{{ rightTitle }}</p>
      <p class="small mt-auto">{{ rightSecondary }}</p>
    </div>
    <img *ngIf="rightImage" [src]="rightImage" loading="lazy" />
  </div>
</div>
