.navbar-background {
  background-color: #404b69;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

.navbar-container {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 2rem;
  width: 100%;
}

.links-container {
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .link-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 1rem;

    &:hover {
      background-color: #00818a;
    }

    &.active {
      border-bottom: 3px solid;
    }
  }
}
