<div class="characters-container">
  <div *ngFor="let character of characters" class="card">
    <div class="char-side d-flex">
      <img
        [src]="getCharacterImage(character.node)"
        [alt]="character.node.name.full"
      />
      <div class="d-flex flex-column px-1 py-2">
        <p class="small m-0">{{ character.node.name.full }}</p>
        <p class="small m-0 mt-auto">{{ character.role }}</p>
      </div>
    </div>
    <div
      *ngIf="character.voiceActors![0]"
      class="staff-side text-right d-flex ml-auto"
      [routerLink]="['/', 'staff', character.voiceActors![0].id]"
      style="cursor: pointer"
    >
      <div class="px-1 py-2">
        <p class="small m-0">{{ getVoiceActorName(character) }}</p>
      </div>
      <img
        *ngIf="getVoiceActorImage(character)"
        [src]="getVoiceActorImage(character)"
        [alt]="getVoiceActorName(character)"
      />
    </div>
  </div>
</div>
