@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$body-bg: #283149;
$body-color: #dbedf3;
$headings-margin-bottom: 0;

$main-color: #404b69;

//$theme-colors: (
//"primary": #000,
//);

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

$enable-rounded: false;

@import "bootstrap";

.card {
  background-color: $main-color;
  border: none;

  .card-body {
    background-color: $main-color;
    border: none;
  }
}

.nav.nav-tabs {
  border-color: $main-color;

  .nav-item {
    .nav-link {
      color: white;

      &.active {
        background-color: $main-color;
        border-color: $main-color;
      }
    }
  }
}
